class Mash < Formula
  desc "An object shell for Unix"
  homepage "http://mash-shell.org"
  url "https://github.com/mdr/mash/releases/download/v$VERSION/mash-$VERSION.jar"
  version "$VERSION"
  sha256 "$SHA"
  depends_on :java => "1.7+"

  bottle :unneeded

  def install
      (bin/"mash").write <<-EOS.undent
        #!/bin/sh
        java -jar #{prefix}/mash-$VERSION.jar
      EOS
      prefix.install "mash-$VERSION.jar"
  end
end
